{% extends 'base.html' %}
{% block content %}

<h1>Monthly Data of every Portuguese Hospital about Morbidity and Mortality</h1>

<h2>About</h2>
<font size="3">Data acquired from the Portuguese Ministry of Health, grouped by diagnostic type and age group
</font>


<h3>Some database statistics</h3>

<table class="styled-table">
  <thead>
<tr>
  <th>Items</th>
  <th>Count</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Age Groups</td>
  <td>{{ stats[0] }}</td>
</tr>
<tr>
  <td>Institutions</td>
  <td>{{ stats[1] }}</td>
</tr>
<tr>
  <td>Regions</td>
  <td>{{ stats[2] }}</td>
</tr>
<tr>
  <td>Diagnostics</td>
  <td>{{ stats[3] }}</td>
</tr>
<tr>
  <td>Periods</td>
  <td>{{ stats[4] }}</td>
</tr>
<tr>
  <td>Health Registries</td>
  <td>{{ stats[5] }}</td>
</tr>
</tbody>
</table>

<h4>Information About Institutions</h4>
<nav class="container">
  <a class="styled" href="/institutions">See Institutions by Regions</a>
  <a class="styled" href="/institutionsByDeaths">Institutions by Total Deaths</a>
  <a class="styled" href="/institutionsByHospitalizations">Institutions by Total Hospitalizations</a>
</nav>

<h4>Information About Regions</h4>
<nav class="container">
  <a class="styled" href="/regionsByDeaths">Regions by Total Deaths</a>
  <a class="styled" href="/regionsByHospitalizations">Regions by Total Hospitalizations</a>
  <a class="styled" href="/regionsByHospitalizationsForGivenYear">Regions by Total Hospitalizations in Given Year</a>
</nav>

<h4>Information About Diagnosis Groups</h4>
<nav class="container">
  <a class="styled" href="/diagnosisGroupsByInstitution">Diagnosis Groups by Institution and Period</a>
  <a class="styled" href="/diagnosisGroupsByDeathsAndHospitalizations">Diagnosis Groups by Total Deaths and Hospitalizations</a>
  <a class="styled" href="/morbidityAndMortalityPerAgeGroupForEachDiagnosisGroup">Diagnosis Groups by Total Deaths and Hospitalizations for each Age Group</a>
  <a class="styled" href="/mostFatalDiagnosisGroupPerAgeGroup">Most Fatal Diagnosis Groups in each Age Group</a>
  <a class="styled" href="/mostFatalDiagnosisGroupPerMonthOfGivenYear">Most Fatal Diagnosis Groups for a Given Year</a>
  <a class="styled" href="/diagnosisGroupMostHospitalizationsPerMonthOfGivenYear"> Diagnosis Groups with Most Hospitalizations per Month for a Given Year</a>
  <a class="styled" href="/mostFatalDiagnosisGroupPerMonthOfGivenYearAndAgeGroup"> Most Fatal Diagnosis Groups per Month for a Given Year and Age Group</a>
</nav>


{% endblock %}

<!--

<label id="inputQuery" for="query">
  <h3>Input your own SQL Command</h3>
  <form method=post action=/search>
    <textarea name=sql></textarea>
    <input type=submit name=save value=Execute>
  </form>
</label>
-->