{% extends 'base.html' %}
{% block content %}
<div class="wrapper">

<h1>Morbidity and Mortality in Portuguese Hospitals</h1>

<h2>About</h2>
<font size="3">Monthly data acquired from the Portuguese Ministry of Health (grouped by diagnosis type, age group, gender and institution).
</font>


<h3>Some database statistics</h3>

<table class="styled-table">
  <thead>
<tr>
  <th>Table</th>
  <th>Number of Entries</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Age Groups</td>
  <td>{{ stats[0] }}</td>
</tr>
<tr>
  <td>Institutions</td>
  <td>{{ stats[1] }}</td>
</tr>
<tr>
  <td>Regions</td>
  <td>{{ stats[2] }}</td>
</tr>
<tr>
  <td>Diagnosis Groups</td>
  <td>{{ stats[3] }}</td>
</tr>
<tr>
  <td>Periods</td>
  <td>{{ stats[4] }}</td>
</tr>
<tr>
  <td>Health Registries</td>
  <td>{{ stats[5] }}</td>
</tr>
</tbody>
</table><br>

<h4>Information About Institutions</h4>
<nav class="container">
  <a class="styled" href="/institutions">See Institutions by Regions</a>
  <a class="styled" href="/institutionsByDeaths">Institutions by Total Deaths</a>
  <a class="styled" href="/institutionsByHospitalizations">Institutions by Total Hospitalizations</a>
  <a class="styled" href="/institutionsHospitalizationsPerYearForGivenInstitution">Total Hospitalizations per Year in Given Institution</a>
  <a class="styled" href="/institutionsDeathsPerYearForGivenInstitution">Total Deaths per Year in Given Institution</a>
</nav>

<h4>Information About Regions</h4>
<nav class="container">
  <a class="styled" href="/regionsByDeaths">Regions by Total Deaths</a>
  <a class="styled" href="/regionsByHospitalizations">Regions by Total Hospitalizations</a>
  <a class="styled" href="/regionsByHospitalizationsForGivenYear">Regions by Total Hospitalizations in Given Year</a>
</nav>

<h4>Information About Diagnosis Groups</h4>
<nav class="container">
  <a class="styled" href="/diagnosisGroupsByInstitution">Diagnosis Groups by Given Institution and Period</a>
  <a class="styled" href="/diagnosisGroupsByDeathsAndHospitalizations">Diagnosis Groups by Total Deaths and Hospitalizations</a>
  <a class="styled" href="/morbidityAndMortalityPerAgeGroupForEachDiagnosisGroup">Diagnosis Groups by Total Deaths and Hospitalizations in each Age Group</a>
  <a class="styled" href="/mostFatalDiagnosisGroupPerAgeGroup">Most Fatal Diagnosis Groups in each Age Group</a>
  <a class="styled" href="/mostFatalDiagnosisGroupPerMonthOfGivenYear">Most Fatal Diagnosis Groups per Month in Given Year</a>
  <a class="styled" href="/diagnosisGroupMostHospitalizationsPerMonthOfGivenYear">Diagnosis Groups with Most Hospitalizations per Month in Given Year</a>
  <a class="styled" href="/mostFatalDiagnosisGroupPerMonthOfGivenYearAndAgeGroup">Most Fatal Diagnosis Groups per Month in Given Year and Age Group</a>
  <a class="styled" href="/diagnosisGroupMostHospitalizationsPerMonthOfGivenYearAndAgeGroup">Diagnosis Groups Most Hospitalizations per Month in Given Year and Age Group</a>
  <a class="styled" href="/diagnosisGroupsPercentageHospitalizationsOutpatient">Diagnosis Groups by % Hospitalizations and % Outpatient</a>
</nav>

<h4>Information About Genders</h4>
<nav class="container">
  <a class="styled" href="/patientsPerYearPerGenderEachInstitution">Total Patients in each Institution per Gender</a>
  <a class="styled" href="/deathsPerYearPerGenderEachInstitution">Deaths in each Institution per Gender</a>
  <a class="styled" href="/deathRateEachDiagnosisGroupPerGender"> Death Rate in Diagnosis Groups per Given Gender</a>
  <a class="styled" href="/diagnosisGroupsPercentageHospitalizationsOutpatientPerGivenGender">Diagnosis Groups by % Hospitalizations and % Outpatient per Given Gender</a>
</nav>

{% endblock %}
</div>

<!--

<label id="inputQuery" for="query">
  <h3>Input your own SQL Command</h3>
  <form method=post action=/search>
    <textarea name=sql></textarea>
    <input type=submit name=save value=Execute>
  </form>
</label>
-->